# Build and Release Folders
bin/
couchbase/java/.idea/
PyDmatrix/
# Other files and folders
.settings/
.classpath
.project
.gitignore

# IDE Support
# IntelliJ specific files/directories
.idea/
*.ipr
*.iws
*.iml
*.class
target/
